.tile {
  width: 100%;
  height: 100%;
  background-color: green;
}

.tile.even {
  background-color: greenyellow;
}

.row:nth-child(2n+1) > .tile:nth-child(2n),  .row:nth-child(2n) > .tile:nth-child(2n+1){
  background-color: greenyellow;
}