.field {
  width: 50%;
  margin: auto;
  user-select: none;
  border-radius: 10px;
  overflow: hidden;
}

.tile.even {
  background-color: #AAD751;
}

.tile.even:hover {
  background-color: #CCF862;
}

.tile.odd {
  background-color: #A2D149;
}

.tile.odd:hover {
  background-color: #C4F36B;
}

.tile.discovered.odd {
  background-color: #D7B899;
}

.tile.discovered.odd:hover {
  background-color: #E8C9AA;
}

.tile.discovered.even {
  background-color: #DEBD9C;
}

.tile.discovered.even:hover {
  background-color: #EFCEAD;
}

.tile>img{
  width: 100%;
  height: 100%;
}

.tile{
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  font-size: 1.5vw;
  font-weight: bold;
}